.advantages__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.advantages__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $background-text-color;
}
.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.advantages__container-icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: $less-white-for-bg;
}
.advantages__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
