.order {
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 60px;
  text-align: center;

  background: $background-color;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/mobile/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mobile/hero@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 365px) {
    padding: 100px 10px;
  }

  &__text {
    box-sizing: border-box;
    margin: 0 auto 30px auto;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.36;
    color: $white-text-color;
    font-size: 26px;

    @media screen and(min-width:480px) {
      width: 360px;
      height: 84px;
    }

    @media screen and(min-width:768px) {
      width: 360px;
      height: 84px;
    }

    @media screen and(min-width:1200px) {
      width: 696px;
      height: 120px;
      font-size: 44px;
    }
  }

  &__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 24px;

    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: $brand-color;
    color: $white-text-color;
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 6px 22px;
  }
  &__btn:active {
    background-color: $brand-color;
  }
}

@media screen and (min-width: 768px) {
  .order {
    display: block;
    max-width: 750px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    background: $background-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tablet/hero-tablet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/tablet/hero-tablet@2x.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text {
      width: 360px;
      height: 84px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .order {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/Desktop/hero-desktop.png');
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/Desktop/hero-desktop@2x.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__text {
      display: block;
      height: 120px;
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }

    &__button {
      padding: 10px 32px;
    }
  }
}
