.header__logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $product-text-color;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.logo--web {
  color: $brand-color;
}
