.header__logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $product-text-color;

  @media screen and(max-width:767px) {
    display: block;
    padding-bottom: 16px;
  }
  @media screen and(min-width:768px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}
.logo--web {
  color: $brand-color;
}
