.header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
