$brand-color: #2196f3;
$background-color: #2f303a;
$background-text-color: #757575;
$color-nav: #000000;
$color-icon: #ffffff;
$color-client-icon: #afb1b8;
$off-text-decoration: none;
$off-list-style-type: none;
$white-text-color: #ffffff;
$product-text-color: #212121;
$mail-color: rgba(255, 255, 255, 0.6);
$less-white-for-bg: #f5f4fa;
$back-color-but: #f5f5f5;
